@import "tailwindcss";


@theme {
  --color-brand-yellow: #FFFB03;
  --animate-marquee: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}